@import "tailwindcss";

@theme {
  --color-background: #fbf9f7;
  --color-surface: #fbf9f7;
  --color-surface-container: #efeeec;
  --color-surface-container-low: #f5f3f1;
  --color-primary: #4e635a;
  --color-primary-fixed: #d1e8dd;
  --color-primary-fixed-dim: #b5ccc1;
  --color-secondary: #3f627d;
  --color-secondary-fixed: #cae6ff;
  --color-secondary-fixed-dim: #a7cbe9;
  --color-secondary-container: #badefd;
  --color-on-background: #1b1c1b;
  --color-on-surface: #1b1c1b;
  --color-on-surface-variant: #424845;
  --color-on-primary: #ffffff;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #40637d;
  --color-on-secondary-fixed: #001e30;
  --color-on-secondary-fixed-variant: #264a64;

  --spacing-stack-sm: 16px;
  --spacing-stack-md: 32px;
  --spacing-stack-lg: 64px;
  --spacing-margin-mobile: 20px;
  --spacing-gutter: 24px;
  --spacing-container-max: 1140px;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}